<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>文件上次</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
    <h2>文件上传实例</h2>
    <form action="{% url 'doUpload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        标题名称：<input type="text" name="title"/><br/><br/>
        上传文件：<input type="file" name="pic"><br/><br/>
        <input type="submit" value="上传"/>
    </form>
</body>
</html>