<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    {% include "myapp/users/style.html" %}
</head>
<body>
    <center>
    {% include "myapp/users/menu.html" %}  <!-- 表头公共部分进行页面拆分，用include导入我们自己写好的公告部分 -->
    <h3>添加用户信息</h3>
        <form action="{% url 'insertUsers' %}" method="post">
            {% csrf_token %}  <!-- 添加令牌 -->
            <table width="280" border="0">
                <tr>
                    <td>姓名：</td>
                    <td><input type="text" name="name"/></td>
                </tr>
                <tr>
                    <td>年龄：</td>
                    <td><input type="text" name="age"/></td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td><input type="text" name="sex"/></td>
                </tr>
                <tr>
                    <td>班级：</td>
                    <td><input type="text" name="classid"/></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="添加"/>
                        <input type="reset" value="重置"/>
                    </td>
                </tr>
            </table>
        </form>
</center>
</body>
</html>