<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
</head>
<body>
<center>
    <H1>用户信息管理</H1>
    <a href="{% url 'indexUsers' %}">浏览用户信息</a> |
    <a href="{% url 'addUsers' %}">添加用户信息</a>
    <hr/>
    <h3>浏览用户信息</h3>
    <table width="800" border="1">
        <tr>
            <th>ID号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>班级</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        {% for user in userslist %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.sex}}</td>
                <td>{{user.classid}}</td>
                <td>{{user.addtime}}</td>
                <td>
                    <a href="{% url 'editUsers' user.id %}">编辑</a>
                    <a href="{% url 'delUsers' user.id %}">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>