<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>杨天龙管理系统</title>
</head>
<body>
<div id="container" style="background-color: green;  width:maxpx;">
<center>
<h1 style="background-color: #417690; color: #ffc; width:maxpx;">杨天龙管理系统</h1>
</center>
<table>
    <tr>
		<td>点击登入进入后台管理：</td>
		<td><a href="/admin">登入</a></td>
	</tr>
	<tr>
		<td>进入杨天龙的博客空间：</td>
		<td><a href="https://ytlserver.imdo.co/">YTLBlog</a></td>
	</tr>
</table>
</div>
<iframe src="https://ytlserver.imdo.co" name="myframe" frameborder="1" width="100%" height="800"></iframe>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
版权 © ytlserver.imdo.co</div>
</body>
</html>