<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    {% include "myapp/users/style.html" %}
    <script>
        //自定义执行信息删除提示判断，参数uu是成功的删除url地址
        function doDel(uu){
            if (confirm("确定要删除？")){
                //网页跳转
                window.location=uu;
            }
        }
    </script>
</head>
<body>
<center>
    {% include "myapp/users/menu.html" %}  <!-- 表头公共部分进行页面拆分，用include导入我们自己写好的公告部分 -->
    {% csrf_token %}
    <h3>分页浏览用户信息</h3>

    <form action="{% url 'indexUsers2' 1 %}" method="get">
        姓名：<input type="text" size="10" name="keyword" value="{{kw}}"/>
        <input type="submit" value="搜索"/>
    </form><br/>

    <table width="800" border="1">
        <tr>
            <th>ID号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>班级</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        {% for user in userslist %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{% if user.sex == 1 %}
                        <span style="color:red">男</span>
                    {% else %}
                        <span style="color:red">女</span>
                    {% endif %}</td>
                <td>{{user.classid}}</td>
                <td>{{user.addtime}}</td>
                <td>
                    <a href="{% url 'editUsers' user.id %}">编辑</a>
                    <a href="javascript:doDel('{% url 'delUsers' user.id %}');">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <a href="{% url 'indexUsers2' n|add:-1 %}{{mywhere}}">上一页</a>
    {% for p in pagelist %}
        {% if n == p %}
            &nbsp;&nbsp; <a href="{% url 'indexUsers2' p %}{{mywhere}}" style="color:red">{{p}}</a> &nbsp;&nbsp;
        {% else %}
            &nbsp;&nbsp; <a href="{% url 'indexUsers2' p %}{{mywhere}}">{{p}}</a> &nbsp;&nbsp;
        {% endif %}
    {% endfor %}
    <a href="{% url 'indexUsers2' n|add:1 %}{{mywhere}}">下一页</a>
</center>
</body>
</html>