<style type="text/css">
        /*表格样式*/
        table {
            width: 75%;
            background: #ccc;
            margin: 10px auto;
            border-collapse: collapse;/*borrder-collapse合并内外边距(去除表格单元格默认的两个像素内外边距)*/
        }
        th,td {
            height: 25px;
            line-height: 25px;
            text-align: center;
            border: 1px solid #ccc;
        }
        th {
            background: #eee;
            #font-weight: normal;
        }
        tr {
            background: #fff;
        }
        tr:hover {
            #background: #cc0;
        }
        td a {
            color: #06f;
            text-decoration: none;
        }
        td a:hover {
            background: #cc0;
            color: #06f;
            text-decoration: underline;
        }
</style>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>