<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>杨天龙管理系统</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<style type="text/css">
		html,body{height:100%; width:100%; overflow:hidden; margin:0; padding:0;}
		a{text-decoration:none; color:rgb(255,255,255);}
		a:hover{text-decoration:none; color:rgb(0,255,255);}
	</style>
</head>
<body>
<div id="header" style="background-color: #417690; color: #ffc; height:8%; width:100%;">
<h1 style="margin-bottom:0; text-align:center;">杨天龙管理系统</h1></div>

<div id="menu" style="background-color: rgb(40, 51, 62);height:85%;float:left;">
<table>
	<tr>
		<td style="color: rgb(255,255,0)">{{ time|date:"Y-m-d H:i:s" }}</td>
		<td style="color: rgb(255,255,0)">星期{{ time|date:"w" }}</td>
	</tr>
    <tr>
		<td><a href="/admin">登入</a></td>
	</tr>
	<tr>
		<td><a href="http://159.75.33.27">YTLBlog</a></td>
	</tr>
	<tr>
		<td><a href="{% url 'indexUsers' %}">测试用</a></td>
	</tr>
	<tr>
		<td><a href="{% url 'indexUsers2' %}">测试2分页浏览</a></td>
	</tr>
	<tr>
		<td><a href="{% url 'inherit' %}">模板继承</a></td>
	</tr>
	<tr>
		<td><a href="{% url 'upload' %}">加载文件上传表单</a></td>
	</tr>
</table></div>

<div id="content" style="background-color:#EEEEEE; height:50%; width:100%;">
<i><b>
不是每个人都应该像我这样去建造一座水晶大教堂，但是每个人都应该拥有自己的梦想，设计自己的梦想，追求自己的梦想，实现自己的梦想。梦想是生命的灵魂，是心灵的灯塔，是引导人走向成功的信仰。有了崇高的梦想，只要矢志不渝地追求，梦想就会成为现实，奋斗就会变成壮举，生命就会创造奇迹。——罗伯·舒乐</i></b></div>

<div id="content" style="background-color:#eef; height:35%; width:100%;">
<!-- <iframe src="https://ytlserver.imdo.co/" name="myframe" frameborder="1" width="73%" height="780"></iframe> --></div>

<div id="footer" style="height:5%; background-color:#FFA500;clear:both;text-align:center;">
版权 © ytlserver.imdo.co</div>
</body>
</html>